// .hamburgerMenu{
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: #252b46; 
//     opacity: 0.8;
//     z-index: 999; 
//     pointer-events: none; 
//     overflow: auto;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }
.hamburgerMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #252b46;
    opacity: 0.8;
    z-index: 999;
    pointer-events: none;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 300px;
  padding-top: 10rem;
      li {
        padding: 20px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: center;
        color: white;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 3px;
      }
      button {
        width: 100%;
        border: 2px solid white;
        background-color: transparent;
        padding: 10px 20px;
        margin-top: 25px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 25px 0px;
        border-radius: 5px;
    }
    }
  
    
    &>footer{
        display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
        &>img{
            width: 20px;
    height: 20px;
    margin: 0px 20px 0px 20px; 
        }
    }
  }
