.accordion {
    width: 80%;
    display: flex;
    flex-direction: column;
   
    .accordion-item {
      border-bottom: 1px solid #ccc;
      padding: 10px;
      cursor: pointer;
  
      &:last-child {
        border-bottom: none;
      }
  
      &.active {
       .accordion-icon{
        color: #fa5757 !important;
       }
      }
  
      .accordion-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
       
        &:hover{
            color: #fa5757;
        }
  
        h3 {
          margin: 0;
          font-weight: 400;
        }
  
        .accordion-icon {
          width: 20px;
          height: 20px;
          transition: transform 0.3s ease;
  
          &.rotate {
            transform: rotate(180deg);
          }
        }
      }
  
      .accordion-content {
        padding: 10px 0;
        text-align: start;
        line-height: 2;
      }
    }
  }
  